#titulo{ 
    color: #F3F3F3;
    font-family: 'Roboto', sans-serif; ;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}
#listatitulo{
    color: #F3F3F3;
    font-family: 'Roboto', sans-serif; ;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

}
.barradenavegacion{
    background-color: #F0A83E;
    width: 1025px;
}
.tituloincial{
    background-color: #222222;
    width: 1025px;
    display: flex;
    align-content: space-between;

}
.fondoimagen{
    background-image: url('../img/Fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1025px;
    height: 409px;
}
.titulosecundario{
    font-family: 'Roboto', sans-serif; ;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #3C2313;
    width: 1025px;
}
.fas{
    color: white;
}

.subtitulo1{
    font-family: 'Roboto', sans-serif; ;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3C2313;
    font-weight: bold;
    
}
.subtitulo2{
    font-family: 'Roboto', sans-serif; ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background-color:  #F0A83E;
    height: 30px;
    margin-left: 45%;
    margin-right: 45%;
}
#producto{
    font-family: 'Roboto', sans-serif; ;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #3C2313;
    text-align: center;
    width: 1025px;
}
.nombreart{
    font-family: 'Roboto', sans-serif; ;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #3C2313;
    font-weight: bold;
}
.listaarticulos{
    font-family: 'Roboto', sans-serif; ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #666666;
    text-align: center;
    width: 1025px;
}
.precio{
    font-family: 'Roboto', sans-serif; ;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #F0A83E;
}
#txtfooter{
    font-family: 'Roboto', sans-serif; 
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
color: #FFFFFF;
background-color: #222222;;
text-align: center;
width: 1025px;
}
.datosdecontacto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.datospedidos{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
}
#colordefondo{
    background: #3C2313;
    width: 1025px;
}
.fa-map-marker-alt{
    color: white;
    height: 40px;
    text-align: center;
    font-size: 45px;
}
.fa-phone-alt{
    color: white;
    height: 40px;
    text-align: center;
    font-size: 45px;
}
.fa-envelope{
    color: white;
    height: 40px;
    text-align: center;
    font-size: 45px;
}
.imgart{
    width: 265px;
height: 268.86px;
}