*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #E5E5E5;
}
header{
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
}
.headerprimero{
    margin: 10px 466px 10px 20px;
}
.headersegundo{
    margin: 40px 20px 41px;
}
a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color:white;
    text-decoration: none;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FC200C;
    margin-left: 19.98px;
    margin-top: 20px;
}
#colorblanco{
    color: white;
}

.contenedor{
    position: relative;
    display: flex;
    margin: 35px 19px 35px 19px;
    justify-content: flex-start;
    width: 100%;
}
.box{
    width: 491px;
    height: 350px;
    background: #FFFFFF;
    border-radius: 5px;
}
.uno{ 
    background-image: url('../img/delivery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2.5px;
}
.dos{
    margin-left: 2.5px;
    
}
#tituloboxdos{
    margin-top: 26px;
    margin-right: 160px;
    margin-left: 160px;
    
}
.contenedorboxdos{
    width: 385px;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin: 30px 55px 16px 51px;
}
h3{
    margin-right: 256.56px;
    margin-bottom: 20px;
    margin-left: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #222222;
    padding-top: 28px;
}

.lista{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-right: 101px;
}
li{
    padding-bottom: 10px;
}
.fotoarbol{
    margin: 48px 19px 73px 274px;
    position: absolute;
}

footer{
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 8px;
    display: flex;
    flex-direction: row;
    
}
ul{
    width: 78px;
    height: 112px;
    margin: 19px 0px 19px 20px;
    flex-wrap: wrap;
    display: flex;
}
.footprimero{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 672px;
}